<div style="margin-top: 150px; margin-bottom: 100px" class="container">
  <h1>Crear nuevo aliado</h1>
  <div class="row">
    <div class="col-md-6">
      <%= render partial: 'form', locals: { form_submit: "Crear Aliado" } %>
    </div>
  </div>
</div>
