<style>
  .avatar {
    border-radius: 100%;
    width: 50px;
  }
</style>

<div class="container" style="margin-top: 100px">
  <h1>Listando Opiniones</h1>

  <table class="table">
    <tr>
      <th>Avatar</th>
      <th>Nombre</th>
      <th>Cargo</th>
      <th>Opinión</th>
    </tr>
    <% @opinions.each do |opinion| %>
      <tr>
        <td><%= image_tag(opinion.avatar.url(:thumb), class: 'avatar') %></td>
        <td><%= opinion.name %></td>
        <td><%= opinion.position %></td>
        <td><%= opinion.opinion %></td>
      </tr>
    <% end %>
  </table>
</div>