<div class="container" style="margin-top: 100px; margin-bottom: 100px">
  <h1>Agrega una nueva opinión</h1>
  <hr>
  <%= render partial: 'form', locals: { new_form: "Crear Pregunta", edit_form: "Editar Pregunta" } %>
</div>