  <div class="hero-area" style="margin-top: 200px">
      <!-- Start Hero Slider -->
      <div class="hero-slider heroflex flexslider clearfix" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-speed="7000" data-pause="yes">
          <ul class="slides">
              <li class="parallax" style="background-image:url(http://placehold.it/1400x500&amp;text=IMAGE+PLACEHOLDER);"></li>
              <li class="parallax" style="background-image:url(http://placehold.it/1400x500&amp;text=IMAGE+PLACEHOLDER);"></li>
          </ul>

      </div>
      <!-- End Hero Slider -->
  </div>

  <!-- Utiity Bar -->
  <!-- Start Body Content -->
  <div class="main" role="main">
    <div id="content" class="content full padding-b0">
          <div class="container">
              <div class="row">
                  <div class="col-md-4 col-sm-4">
                      <div class="icon-box ibox-outline ibox-center ibox-dark">
                          <div class="ibox-icon">
                              <i class="fa fa-wrench"></i>
                          </div>
                          <h3>SERVICIO TÉCNICO</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                      <div class="icon-box ibox-outline ibox-center ibox-dark">
                          <div class="ibox-icon">
                              <i class="fa fa-car"></i>
                          </div>
                          <h3>SEGUROS DE CARRO</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
                      </div>
                  </div>
                  <div class="col-md-4 col-sm-4">
                      <div class="icon-box ibox-outline ibox-center ibox-dark">
                          <div class="ibox-icon">
                              <i class="fa fa-paperclip"></i>
                          </div>
                          <h3>TRÁMITES POBLAUTOS</h3>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
                      </div>
                  </div>
              </div>
              <div class="spacer-60"></div>
             </div>

             <div class="dark-bg parallax parallax1" style="background-image:url(http://placehold.it/1400x500&amp;text=IMAGE+PLACEHOLDER);">
              <div class="overlay-transparent padding-tb75">
                  <div class="container">
                      <!-- Recently Listed Vehicles -->
                      <section class="listing-block recent-vehicles">
                          <div class="text-align-center">
                              <h3>Nuestro Trabajo</h3>
                          </div>
                          <div class="listing-container">
                              <div class="carousel-wrapper">
                                  <div class="row">
                                      <ul class="owl-carousel" id="vehicle-slider" data-columns="3" data-autoplay="" data-pagination="yes" data-arrows="yes" data-single-item="no" data-items-desktop="3" data-items-desktop-small="3" data-items-tablet="3" data-items-mobile="1">
                                          <li class="item">
                                              <div class="vehicle-block format-standard">
                                                  <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                                  <div class="vehicle-block-content">
                                                      <span class="label label-primary vehicle-age">Video 01</span>
                                                      <h5 class="vehicle-title"><a href="#">Institucional</a></h5>
                                                      <span class="vehicle-meta">ref 324 <abbr class="user-type" title="Listed by an dealer">Dealer</abbr></span>
                                                      <a href="results-list.html" title="View all SUVs" class="vehicle-body-type"><img src="images/body-types/suv.png" width="30" alt=""></a>
                                                      <span class="vehicle-cost">Mejor servicio de la ciudad</span>
                                                  </div>
                                              </div>
                                          </li>
                                          <li class="item">
                                              <div class="vehicle-block format-standard">
                                                  <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                                  <div class="vehicle-block-content">
                                                      <span class="label label-primary vehicle-age">Video 02</span>
                                                      <h5 class="vehicle-title"><a href="#">Institucional</a></h5>
                                                      <span class="vehicle-meta">ref 324 <abbr class="user-type" title="Listed by an dealer">Dealer</abbr></span>
                                                      <a href="results-list.html" title="View all SUVs" class="vehicle-body-type"><img src="images/body-types/suv.png" width="30" alt=""></a>
                                                      <span class="vehicle-cost">Mejor servicio de la ciudad</span>
                                                  </div>
                                              </div>
                                          </li>
                                          <li class="item">
                                              <div class="vehicle-block format-standard">
                                                  <a href="#" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                                  <div class="vehicle-block-content">
                                                      <span class="label label-default vehicle-age">Video 02</span>
                                                      <h5 class="vehicle-title"><a href="#">Institucional</a></h5>
                                                      <span class="vehicle-meta">ref 324 <abbr class="user-type" title="Listed by an individual">Individual</abbr></span>
                                                      <a href="results-list.html" title="View all convertibles" class="vehicle-body-type"><img src="images/body-types/convertible.png" width="30" alt=""></a>
                                                      <span class="vehicle-cost">Mejor servicio de la ciudad</span>
                                                  </div>
                                              </div>
                                          </li>

                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </section>
                  </div>
              </div>
          </div>

        <div class="spacer-75"></div>
          <div class="container">
            <!-- Left Column -->
              <div class="row">
                  <div class="col-md-6">
                    <!-- Welcome text -->
                      <h1 class="page-title">Servicios Técnicos</h1>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                      <p><a href="#" class="btn btn-lg btn-primary">Contáctanos</a></p>

                  </div>

              <!-- Right Column -->
                  <div class="col-md-6">
                    <!-- Additional Service -->
                      <div class="service-block">
                          <a href="about.html"><img src="http://placehold.it/200x200&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                          <div class="service-block-in">
                              <h4><a href="about.html">Seguros de Carros</a></h4>
                              <p>Lorem ipsum dolor sit amet, falli tollit cetero te eos. Ea ullum liber aperiri mi, impetus ate philosophia ad duo, quem regione ne ius.</p>
                          </div>
                      </div>
                      <div class="service-block">
                          <a href="about.html"><img src="http://placehold.it/200x200&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                          <div class="service-block-in">
                              <h4><a href="about.html">Trámites Poblautos</a></h4>
                              <p>Lorem ipsum dolor sit amet, falli tollit cetero te eos. Ea ullum liber aperiri mi, impetus ate philosophia ad duo, quem regione ne ius.</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="spacer-60"></div>

          </div>


      </div>