<div class="container" style="margin: 120px auto 80px auto;">
  <h1>Gracias</h1>
  <p>Nos pondremos en contacto lo más pronto posible</p>
  <%= link_to root_path do %>
    <button class="btn btn-default" style="margin-top: 20px;"><span class="fa fa-arrow-left"></span> Regresar</button>
  <% end %>
</div>
