<div class="container" style="margin-top: 100px; margin-bottom: 100px">
  <h1>Agregar un nuevo vehículo</h1>
  <p>Recuerda que para que las imágenes se vean consistentes en las páginas debes agregar imágenes de 600 pixeles de ancho por 400px de alto.</p>
  <hr>
  <%= render partial: 'form', locals: { form_submit: "Crear Vehículo" } %>
</div>