<div class="page-header parallax" style="background-image:url(http://placehold.it/1200x300&amp;text=IMAGE+PLACEHOLDER);">
  <div class="container">
      <h1 class="page-title">Listing results</h1>
    </div>
</div>
<!-- Utiity Bar -->
<div class="utility-bar">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-8">
                <ol class="breadcrumb">
                    <li><a href="index.html">Inicio</a></li>
                    <li class="active">Usados</li>
                </ol>
          </div>
            <div class="col-md-4 col-sm-6 col-xs-4">
            </div>
        </div>
    </div>
</div>
<!-- Actions bar -->
<div class="actions-bar tsticky">
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-3 search-actions">
              <ul class="utility-icons tools-bar">
                  <li><a href="#"><i class="fa fa-star-o"></i></a>
                      <div class="tool-box">
                          <div class="tool-box-head">
                            <a href="user-dashboard-saved-cars.html" class="basic-link pull-right">View all</a>
                            <h5>Saved cars</h5>
                            </div>
                            <div class="tool-box-in">
                              <ul class="listing tool-car-listing">
                                  <li>
                                      <div class="checkb"><input type="checkbox"></div>
                                        <div class="imageb"><a href="vehicle-details.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a></div>
                                        <div class="textb">
                                          <a href="#">Nissan Terrano first hand</a>
                                            <span class="price">$28000</span>
                                        </div>
                                        <div class="delete"><a href="#"><i class="icon-delete"></i></a></div>
                                    </li>
                                  <li>
                                      <div class="checkb"><input type="checkbox"></div>
                                        <div class="imageb"><a href="vehicle-details.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a></div>
                                        <div class="textb">
                                          <a href="#">Mercedes Benz E class</a>
                                            <span class="price">$76000</span>
                                        </div>
                                        <div class="delete"><a href="#"><i class="icon-delete"></i></a></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tool-box-foot">
                              <a href="joinus.html" class="btn btn-xs btn-primary pull-right">Join</a>
                              <a href="#" class="pull-right tool-signin" data-toggle="modal" data-target="#loginModal">Sign in</a>
                              <a href="#" class="btn btn-xs btn-info">Compare(2)</a>
                            </div>
                        </div>
                    </li>
                  <li><a href="#"><i class="fa fa-folder-o"></i></a>
                      <div class="tool-box">
                          <div class="tool-box-head">
                            <a href="user-dashboard-saved-searches.html" class="basic-link pull-right">View all</a>
                            <h5>Saved searches</h5>
                            </div>
                            <div class="tool-box-in">
                              <ul class="listing tool-search-listing">
                                  <li>
                                      <div class="link"><a href="#">Search name</a></div>
                                        <div class="delete"><a href="#"><i class="icon-delete"></i></a></div>
                                    </li>
                                  <li>
                                      <div class="link"><a href="#">Search name</a></div>
                                        <div class="delete"><a href="#"><i class="icon-delete"></i></a></div>
                                    </li>
                                  <li>
                                      <div class="link"><a href="#">Search name</a></div>
                                        <div class="delete"><a href="#"><i class="icon-delete"></i></a></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tool-box-foot">
                              <a href="joinus.html" class="btn btn-xs btn-primary pull-right">Join</a>
                              <a href="#" class="pull-right tool-signin" data-toggle="modal" data-target="#loginModal">Sign in</a>
                            </div>
                        </div>
                    </li>
                  <li><a href="#"><i class="fa fa-clock-o"></i></a>
                      <div class="tool-box">
                          <div class="tool-box-head">
                            <h5>Recently viewed cars</h5>
                            </div>
                            <div class="tool-box-in">
                              <ul class="listing tool-view-listing">
                                  <li>
                                        <div class="imageb"><a href="vehicle-details.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a></div>
                                        <div class="textb">
                                          <a href="vehicle-details.html">Nissan Terrano first hand</a>
                                            <span class="price">$28000</span>
                                        </div>
                                        <div class="save"><a href="#"><i class="fa fa-star-o"></i></a></div>
                                    </li>
                                  <li>
                                        <div class="imageb"><a href="vehicle-details.html"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a></div>
                                        <div class="textb">
                                          <a href="vehicle-details.html">Mercedes Benz E class</a>
                                            <span class="price">$76000</span>
                                        </div>
                                        <div class="save"><a href="#"><i class="fa fa-star-o"></i></a></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="tool-box-foot">
                              <a href="joinus.html" class="btn btn-xs btn-primary pull-right">Join</a>
                              <a href="#" class="pull-right tool-signin" data-toggle="modal" data-target="#loginModal">Sign in</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="btn-group pull-right results-sorter">
                    <button type="button" class="btn btn-default listing-sort-btn">Filtro</button>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <span class="caret"></span>
                      <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">Precio (High to Low)</a></li>
                        <li><a href="#">Precio (Low to High)</a></li>
                        <li><a href="#">Mileage (Low to High)</a></li>
                        <li><a href="#">Mileage (High to Low)</a></li>
                    </ul>
                </div>

                <div class="toggle-view view-count-choice pull-right">
                    <label>Mostrar</label>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default">10</a>
                        <a href="#" class="btn btn-default active">20</a>
                        <a href="#" class="btn btn-default">50</a>
                    </div>
                </div>

                <div class="toggle-view view-format-choice pull-right">
                    <label>Ver</label>
                    <div class="btn-group">
                        <a href="#" class="btn btn-default active" id="results-list-view"><i class="fa fa-th-list"></i></a>
                        <a href="#" class="btn btn-default" id="results-grid-view"><i class="fa fa-th"></i></a>
                    </div>
                </div>
                <!-- Small Screens Filters Toggle Button -->
                <button class="btn btn-default visible-xs" id="Show-Filters">Search Filters</button>
            </div>
        </div>
    </div>
</div>
<!-- Start Body Content -->
<div class="main" role="main">
  <div id="content" class="content full">
      <div class="container">
          <div class="row">
                <!-- Search Filters -->
                <div class="col-md-3 search-filters" id="Search-Filters">
                  <div class="tbsticky filters-sidebar">
                        <h3>Búsqueda</h3>
                        <div class="accordion" id="toggleArea">
                            <!-- Filter by Year -->
                            <div class="accordion-group panel">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne">Año<i class="fa fa-angle-down"></i> </a> </div>
                                <div id="collapseOne" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="form-inline">
                      <div class="form-group">
                                                <label>Min Año</label>
                                                <select name="Min Year" class="form-control selectpicker">
                                                    <option selected>Todos</option>
                                                    <option>2005</option>
                                                    <option>2006</option>
                                                    <option>2007</option>
                                                    <option>2008</option>
                                                    <option>2009</option>
                                                    <option>2010</option>
                                                    <option>2011</option>
                                                    <option>2012</option>
                                                    <option>2013</option>
                                                    <option>2014</option>
                                                </select>
                                            </div>
                                            <div class="form-group last-child">
                                                <label>Max año</label>
                                                <select name="Max Year" class="form-control selectpicker">
                                                    <option selected>Todos</option>
                                                    <option>2005</option>
                                                    <option>2006</option>
                                                    <option>2007</option>
                                                    <option>2008</option>
                                                    <option>2009</option>
                                                    <option>2010</option>
                                                    <option>2011</option>
                                                    <option>2012</option>
                                                    <option>2013</option>
                                                    <option>2014</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-default btn-sm pull-right">Filtro</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Filter by Make -->
                            <div class="accordion-group panel">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseTwo">Marca<i class="fa fa-angle-down"></i> </a> </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul class="filter-options-list list-group">
                                            <li class="list-group-item"><span class="badge">4</span><a href="#">Bentley</a></li>
                                            <li class="list-group-item"><span class="badge">23</span><a href="#">Nissan</a></li>
                                            <li class="list-group-item"><span class="badge">41</span><a href="#">Mercedes</a></li>
                                            <li class="list-group-item"><span class="badge">6</span><a href="#">Ford</a></li>
                                            <li class="list-group-item"><span class="badge">54</span><a href="#">Honda</a></li>
                                            <li class="list-group-item"><span class="badge">9</span><a href="#">Mazda</a></li>
                                            <li class="list-group-item"><span class="badge">38</span><a href="#">Toyota</a></li>
                                            <li class="list-group-item"><span class="badge">45</span><a href="#">BMW</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Filter by Model -->
                            <div class="accordion-group">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseThird">Modelo <i class="fa fa-angle-down"></i> </a> </div>
                                <div id="collapseThird" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <ul class="filter-options-list list-group">
                                            <li class="list-group-item"><span class="badge">38</span><a href="#">Alpina</a></li>
                                            <li class="list-group-item"><span class="badge">6</span><a href="#">M3</a></li>
                                            <li class="list-group-item"><span class="badge">54</span><a href="#">M5</a></li>
                                            <li class="list-group-item"><span class="badge">9</span><a href="#">M6</a></li>
                                            <li class="list-group-item"><span class="badge">4</span><a href="#">X1</a></li>
                                            <li class="list-group-item"><span class="badge">23</span><a href="#">X3</a></li>
                                            <li class="list-group-item"><span class="badge">41</span><a href="#">X5</a></li>
                                            <li class="list-group-item"><span class="badge">38</span><a href="#">Z3</a></li>
                                            <li class="list-group-item"><span class="badge">38</span><a href="#">Z4</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <!-- Filter by Price -->
                            <div class="accordion-group">
                                <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseEight">Precio <i class="fa fa-angle-down"></i> </a> </div>
                                <div id="collapseEight" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <div class="form-inline">
                      <div class="form-group">
                                                <label>Precio Min</label>
                                                <select name="Min Price" class="form-control selectpicker">
                                                    <option selected>Todos</option>
                                                    <option>$10000</option>
                                                    <option>$20000</option>
                                                    <option>$30000</option>
                                                    <option>$40000</option>
                                                    <option>$50000</option>
                                                    <option>$60000</option>
                                                    <option>$70000</option>
                                                    <option>$80000</option>
                                                    <option>$90000</option>
                                                    <option>$100000</option>
                                                </select>
                                            </div>
                                            <div class="form-group last-child">
                                                <label>Precio Max</label>
                                                <select name="Max Price" class="form-control selectpicker">
                                                    <option selected>Todos</option>
                                                    <option>$10000</option>
                                                    <option>$20000</option>
                                                    <option>$30000</option>
                                                    <option>$40000</option>
                                                    <option>$50000</option>
                                                    <option>$60000</option>
                                                    <option>$70000</option>
                                                    <option>$80000</option>
                                                    <option>$90000</option>
                                                    <option>$100000</option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-default btn-sm pull-right">Filter</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- End Toggle -->
                        <a href="#" class="btn-default btn-sm btn"><i class="fa fa-refresh"></i> Borrar</a>
                        <a href="#" class="btn-primary btn-sm btn"><i class="fa fa-folder-o"></i> Guardar</a>
                    </div>
                </div>

                <!-- Listing Results -->
                <div class="col-md-9 results-container">
                    <div class="results-container-in">
                      <div class="waiting" style="display:none;">
                          <div class="spinner">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                      <div id="results-holder" class="results-grid-view">
                          <!-- Result Item -->
                          <div class="result-item format-standard">
                              <div class="result-item-image">
                                <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <span class="label label-default vehicle-age">2009</span>
                                    <span class="label label-success premium-listing">Usado</span>
                                    <div class="result-item-view-buttons">
                                      <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                                      <a href="vehicle-details.html"><i class="fa fa-plus"></i> Ver detalles</a>
                                    </div>
                                </div>
                              <div class="result-item-in">
                                  <h4 class="result-item-title"><a href="vehicle-details.html">BMW 5i</a></h4>
                                <div class="result-item-cont">
                                        <div class="result-item-block col1">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam..</p>
                                        </div>
                                        <div class="result-item-block col2">
                                            <div class="result-item-pricing">
                                                <div class="price">$65.000.000</div>
                                            </div>
                                            <div class="result-item-action-buttons">
                                                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                                                <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                                                <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-item-features">
                                        <ul class="inline">
                                            <li>Transmisión:automática</li>
                                            <li>Combustible:gasolina</li>
                                            <li>Módelo:2009</li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                          <!-- Result Item -->
                          <div class="result-item format-standard">
                              <div class="result-item-image">
                                <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <span class="label label-primary vehicle-age">2009</span>
                                    <span class="label label-success premium-listing">Usado</span>
                                    <div class="result-item-view-buttons">
                                      <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                                      <a href="vehicle-details.html"><i class="fa fa-plus"></i> Ver detalles</a>
                                    </div>
                                </div>
                              <div class="result-item-in">
                                  <h4 class="result-item-title"><a href="vehicle-details.html">Mercedes Benz C188 Sedan</a></h4>
                                <div class="result-item-cont">
                                        <div class="result-item-block col1">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam..</p>
                                        </div>
                                        <div class="result-item-block col2">
                                            <div class="result-item-pricing">
                                                <div class="price">$49.900.000</div>
                                            </div>
                                            <div class="result-item-action-buttons">
                                                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                                                <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                                                <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-item-features">
                                        <ul class="inline">
                                            <li>Transmisión: AUTOMÁTICA</li>
                                            <li>Combustible: GASOLINA</li>
                                            <li>Modelo: 2009 </li></br>
                                            <li>Motor: 2.0</li>
                                            <li>Kilometraje: 76.558 Kms</li>
                                            <li>Cojineria:  CUERO</li>
                                            <li>Color:  GRIS TENORITA</li>
                                            <li>Placa: MEDELLIN (Terminada en 9) Full Equipo </li>
                                            <li>COMENTARIOS: PRECIO NEGOCIABLE</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                          <!-- Result Item -->
                          <div class="result-item format-standard">
                              <div class="result-item-image">
                                <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <span class="label label-default vehicle-age">2014</span>
                                    <span class="label label-success premium-listing">Usado</span>
                                    <div class="result-item-view-buttons">
                                      <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                                      <a href="vehicle-details.html"><i class="fa fa-plus"></i> View detalles</a>
                                    </div>
                                </div>
                              <div class="result-item-in">
                                  <h4 class="result-item-title"><a href="vehicle-details.html">Audi Q7</a></h4>
                                <div class="result-item-cont">
                                        <div class="result-item-block col1">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam..</p>
                                        </div>
                                        <div class="result-item-block col2">
                                            <div class="result-item-pricing">
                                                <div class="price">$175.000.000</div>
                                            </div>
                                            <div class="result-item-action-buttons">
                                                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                                                <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                                                <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-item-features">
                                        <ul class="inline">
                                            <li>Transmisión: AUTOMÁTICA</li>
                                            <li>Combustible: GASOLINA</li>
                                            <li>Modelo: 2014</li>
                                            <li>Motor: 3.0</li>
                                            <li>Kilometraje: 30.739 Kms</li>
                                            <li>Cojineria: CUERO</li>
                                            <li>Color: BLANCA</li>
                                            <li>Placa: MEDELLIN  (Terminada en 7)Full Equipo - Vehículo con SunRoof </li>
                                            <li>COMENTARIOS: PRECIO NEGOCIABLE</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                          <!-- Result Item -->
                          <div class="result-item format-standard">
                              <div class="result-item-image">
                                <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <span class="label label-primary vehicle-age">2011</span>
                                    <div class="result-item-view-buttons">
                                      <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                                      <a href="vehicle-details.html"><i class="fa fa-plus"></i> Ver detalles</a>
                                    </div>
                                </div>
                              <div class="result-item-in">
                                  <h4 class="result-item-title"><a href="vehicle-details.html">Toyota FJ Cruiser</a></h4>
                                <div class="result-item-cont">
                                        <div class="result-item-block col1">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam..</p>
                                        </div>
                                        <div class="result-item-block col2">
                                            <div class="result-item-pricing">
                                                <div class="price">$90.000.000</div>
                                            </div>
                                            <div class="result-item-action-buttons">
                                                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                                                <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                                                <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-item-features">
                                        <ul class="inline">
                                            <li>Transmisión: AUTOMÁTICA</li>
                                            <li>Combustible: GASOLINA</li>
                                            <li>Modelo: 2011 </li>
                                            <li>Motor: 4.0</li>
                                            <li>Kilometraje: 65.810 Kms</li>
                                            <li>Cojineria:  SEMI CUERO</li>
                                            <li>Color: BLANCA </li>
                                            <li>Placa: MEDELLIN (Terminada en 6)Full Equipo</li>
                                            <li>COMENTARIOS: PRECIO NEGOCIABLE</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                          <!-- Result Item -->
                          <div class="result-item format-standard">
                              <div class="result-item-image">
                                <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <span class="label label-default vehicle-age">2010</span>
                                    <div class="result-item-view-buttons">
                                      <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                                      <a href="vehicle-details.html"><i class="fa fa-plus"></i> Ver detalles</a>
                                    </div>
                                </div>
                              <div class="result-item-in">
                                  <h4 class="result-item-title"><a href="vehicle-details.html">Audi Q5 Luxury</a></h4>
                                <div class="result-item-cont">
                                        <div class="result-item-block col1">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam..</p>
                                        </div>
                                        <div class="result-item-block col2">
                                            <div class="result-item-pricing">
                                                <div class="price">$78.500.000</div>
                                            </div>
                                            <div class="result-item-action-buttons">
                                                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                                                <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                                                <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-item-features">
                                        <ul class="inline">
                                            <li>Transmisión: AUTOMÁTICA</li>
                                            <li>Combustible: GASOLINA</li>
                                            <li>Modelo: 2010</li>
                                            <li>Motor: 2.0 Turbo</li>
                                            <li>Kilometraje: 76.071Kms</li>
                                            <li>Cojineria:  CUERO</li>
                                            <li>Color: GRIS OSCURO</li>
                                            <li>Placa: BOGOTÁ (Terminada en 2)Full Equipo - Vehículo con SunRoof</li>
                                            <li>COMENTARIOS: PRECIO NEGOCIABLE</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                          <!-- Result Item -->
                          <div class="result-item format-standard">
                              <div class="result-item-image">
                                <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <span class="label label-default vehicle-age">2011</span>
                                    <div class="result-item-view-buttons">
                                      <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                                      <a href="vehicle-details.html"><i class="fa fa-plus"></i> Ver detalles</a>
                                    </div>
                                </div>
                              <div class="result-item-in">
                                  <h4 class="result-item-title"><a href="vehicle-details.html">Toyota Carevaca 3P Blindada</a></h4>
                                <div class="result-item-cont">
                                        <div class="result-item-block col1">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam..</p>
                                        </div>
                                        <div class="result-item-block col2">
                                            <div class="result-item-pricing">
                                                <div class="price">$110.000.000</div>
                                            </div>
                                            <div class="result-item-action-buttons">
                                                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                                                <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                                                <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-item-features">
                                        <ul class="inline">
                                            <li>Transmisión: MECÁNICA</li>
                                            <li>Combustible: GASOLINA</li>
                                            <li>Modelo: 2011</li>
                                            <li>Motor: 4.0</li>
                                            <li>Kilometraje: 29.000 Kms</li>
                                            <li>Cojineria:  TELA</li>
                                            <li>Color:  PLATA</li>
                                            <li>Placa: (Terminada en 8)Full Equipo</li>
                                            <li>BLINDAJE 2 PLUS</li>
                                            <li>COMENTARIOS: PRECIO NEGOCIABLE</li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            <!-- Result Item -->
                            <div class="result-item format-standard">
                                <div class="result-item-image">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <span class="label label-default vehicle-age">2015</span>
                                    <div class="result-item-view-buttons">
                                        <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                                        <a href="vehicle-details.html"><i class="fa fa-plus"></i> Ver detalles</a>
                                    </div>
                                </div>
                                <div class="result-item-in">
                                    <h4 class="result-item-title"><a href="vehicle-details.html">Peugeot 2008 Allure</a></h4>
                                    <div class="result-item-cont">
                                        <div class="result-item-block col1">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam..</p>
                                        </div>
                                        <div class="result-item-block col2">
                                            <div class="result-item-pricing">
                                                <div class="price">$63.900.000</div>
                                            </div>
                                            <div class="result-item-action-buttons">
                                                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                                                <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                                                <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-item-features">
                                        <ul class="inline">
                                            <li>Transmisión: AUTOMÁTICA</li>
                                            <li>Combustible: GASOLINA</li>
                                            <li>Modelo: 2015</li>
                                            <li>Cojineria:  CUERO</li>
                                            <li>Kilometraje: 7.800</li>
                                            <li>Color: BLANCO</li>
                                            <li>Placa: SABANETA (Terminada en 9) </li>
                                            <li>Full Equipo - Vehículo con Sunroof o</li>
                                            <li>Comentarios: VEHICULO EN EXCELENTE ESTADO - PRECIO NEGOCIABLE </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                                <!-- Result Item -->
                            <div class="result-item format-standard">
                                <div class="result-item-image">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <span class="label label-default vehicle-age">1997</span>
                                    <div class="result-item-view-buttons">
                                        <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                                        <a href="vehicle-details.html"><i class="fa fa-plus"></i> Ver detalles</a>
                                    </div>
                                </div>
                                <div class="result-item-in">
                                    <h4 class="result-item-title"><a href="vehicle-details.html">Toyota Carevaca </a></h4>
                                    <div class="result-item-cont">
                                        <div class="result-item-block col1">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam..</p>
                                        </div>
                                        <div class="result-item-block col2">
                                            <div class="result-item-pricing">
                                                <div class="price">$58.000</div>
                                            </div>
                                            <div class="result-item-action-buttons">
                                                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                                                <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                                                <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-item-features">
                                        <ul class="inline">
                                            <li>Transmisión: MECÁNICA</li>
                                            <li>Combustible: GASOLINA</li>
                                            <li>Modelo: 1997</li>
                                            <li>Kilometraje:118.516 Kms</li>
                                            <li>Color:VERDE</li>
                                            <li>Placa: SANTA ROSA DE CABAL (Terminada en 8)</li>

                                            <li>COMENTARIOS: PRECIO NEGOCIABLE</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- Result Item -->
                            <div class="result-item format-standard">
                                <div class="result-item-image">
                                    <a href="vehicle-details.html" class="media-box"><img src="http://placehold.it/600x400&amp;text=IMAGE+PLACEHOLDER" alt=""></a>
                                    <span class="label label-default vehicle-age">2013</span>
                                    <div class="result-item-view-buttons">
                                        <a href="https://www.youtube.com/watch?v=P5mvnA4BV7Y" data-rel="prettyPhoto"><i class="fa fa-play"></i> Ver video</a>
                                        <a href="vehicle-details.html"><i class="fa fa-plus"></i> Ver detalles</a>
                                    </div>
                                </div>
                                <div class="result-item-in">
                                    <h4 class="result-item-title"><a href="vehicle-details.html">Toyota Hilux Blindada</a></h4>
                                    <div class="result-item-cont">
                                        <div class="result-item-block col1">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam..</p>
                                        </div>
                                        <div class="result-item-block col2">
                                            <div class="result-item-pricing">
                                                <div class="price">$120.000.000</div>
                                            </div>
                                            <div class="result-item-action-buttons">
                                                <a href="#" class="btn btn-default btn-sm"><i class="fa fa-star-o"></i> Save</a>
                                                <a href="vehicle-details.html" class="btn btn-default btn-sm">Enquire</a><br>
                                                <a href="#" class="distance-calc"><i class="fa fa-map-marker"></i> Distance from me?</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result-item-features">
                                        <ul class="inline">
                                            <li>Transmisión: MECÁNICA</li>
                                            <li>Combustible: GASOLINA</li>
                                            <li>Modelo: 2013</li>
                                            <li>Motor: 3.0</li>
                                            <li>Kilometraje:  37.000Kms</li>
                                            <li>Cojineria:  TELA</li>
                                            <li>Color:  PLATA</li>
                                            <li>Placa:ENVIGADO (Terminada en 2)Full Equipo</li>
                                            <li>BLINDAJE 2 </li>
                                            <li>COMENTARIOS: PRECIO NEGOCIABLE</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a id="back-to-top"><i class="fa fa-angle-double-up"></i></a>